* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-image: url("/images/body.jpg");
  background-size: cover;
}

.grid {
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 300px;
  width: 900px;
  height: 600px;
  border: solid rgb(89, 89, 89) 1px;
}
#gameOver {
  position: absolute;
  background-image: url(../images/gameover12.png);
  background-size: cover;
  height: 200px;
  width: 200px;
  left: 650px;
  top: 250px;
}
.started {
  display: none;
}

.grid div {
  width: 60px;
  height: 40px;
}
.invader {
  background-image: url(../images/invader.png);
  background-size: cover;
}
.player {
  background-image: url(../images/spaceshipinv.png);
  background-size: cover;
}

.laser {
  background-image: url(../images/invader3.png);
  background-size: cover;
}
.label-score {
  font-family: "Bungee Spice", cursive;
  font-size: 2rem;
}

#gameWon {
  position: absolute;
  font-size: 5rem;
  font-family: "Bungee Spice", cursive;
  height: 200px;
  width: 200px;
  left: 650px;
  top: 250px;
}
.won {
  display: none;
}
