* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* overflow: hidden; */
}

body {
  background-image: url(../images/body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bungee Spice", cursive;
}
h1 {
  position: absolute;
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 8% 20%;
}

#myCanvas {
  position: absolute;
}

.game {
  top: 300px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  border: 2px solid rgb(91, 91, 91);
  box-shadow: 5px 10px rgb(77, 77, 77);
  border-radius: 20px;
  height: 400px;
  width: 250px;
  padding: 10%;
  text-align: center;
  font-size: 2.5rem;
}
.game1 {
  background-image: url(/images/whack.jpg);
  background-size: cover;
}
.game2 {
  background-image: url(/images/spaceinvader.jpg);
  background-size: cover;
}
